{{ $introImage := resources.Get .Params.image }}
{{ $2k_webp := $introImage.Resize "2560x q90 webp" }}
<article id="{{ .Params.id }}" class="slide {{ .Params.style }} {{ .Params.alignment }} {{if .Content}}with-content{{end}}" data-position="{{ .Params.imagePosition }}" data-src="{{ $2k_webp.RelPermalink }}">
  <div class="inner">
    <header>
      {{ if .Next }}
        <h2>{{ .Title | safeHTML }}</h2>
      {{ else }}
        <h1>{{ .Title | safeHTML }}</h1>
      {{ end }}
      <p>{{ .Params.description }}</p>
    </header>
    {{ with .Content }}
      <div class="content align-left">
        {{ . }}
      </div>
    {{ end }}
    {{ with .Prev }}
      <ul class="actions special">
        <li><a href="#{{ .Params.id }}" class="button next">{{with .Params.menuTitle}}{{.}}{{else}}{{.Title}}{{end}}</a></li>
      </ul>
    {{ end }}
    {{ if .Params.social }}
      {{ partial "components/social" .}}
    {{ end }}
  </div>
</article>