<!DOCTYPE html>
<!--
  Landscape by Pixelarity
  pixelarity.com | hello@pixelarity.com
  License: pixelarity.com/license
-->
<html>
  <head>
    {{ partial "head/metadata" . }}
    {{ partial "head/favicons" . }}
    {{ partial "head/css" . }}
    {{ partial "head/scripts" . }}
    {{ template "_internal/opengraph.html" . }}
    <style>
      {{ range .Site.Params.themeColor }}
        @media (prefers-color-scheme: {{ .schema }}) {
          :root {
            --background: #2b2b2b;
            --accent-color: {{ .content }};
          }
        }
      {{ end }}
    </style>
  </head>
  <body class="is-preload">
    {{ $articles := where .Site.RegularPages "Section" "articles" }}
    <!-- Header -->
    <header id="header">
      {{ partial "header/nav" $articles }}
    </header>

    <!-- Main -->
    <div id="main">
      <!-- Reel -->
      <div class="reel">
        {{ range $articles }}
          {{ partial "components/article" . }}
        {{ end }}
      </div>
    </div>
  </body>
</html>
