<div style="height: 40vmin; min-height: 360px">
  <script
    src="https://cdn.jsdelivr.net/ghost/signup-form@~0.1/umd/signup-form.min.js"
    data-label-1="inbar"
    data-label-2="Website"
    data-background-color=""
    data-text-color="#000000"
    data-button-color="#51462c"
    data-button-text-color="#FFFFFF"
    data-title="Recibe actualizaciones mensules sobre el progreso del documental."
    data-description=" "
    data-site="https://cabin23productions.com"
    async
  ></script>
</div>
